Association {
    lineColor: lightgray;
    fontColor: lightgray;
}

Generalization{
    lineColor: lightgray;
    fontColor: lightgray;
}

Extension {
    lineColor: lightgray;
    fontColor: lightgray;
}

Comment {
    lineColor: lightgray;
}