
/* Darktheme CSS */

/* BASIC UML */

Class {
    isNameWrap: true;
}





/* default */
/*
Shape[type=StereotypeComment]{
    visible:false;
}

StereotypeComment Compartment[type=StereotypeBrace]{
    visible:false;
}

Compartment[type=StereotypeCompartment]{
    visible:false;
}

Compartment[type=StereotypeBrace]{
    visible:false;
}

Label[type=StereotypeLabel]{
    depth:"none";
}
*/


/* Here is some example of CSS to display the Stereotype: */



/* To modify the depth */
/*Label[type=StereotypeLabel]{
    depth:"-1";
}*/

/* To make the properties visible into compartment */
/*Compartment[type=StereotypeCompartment]{
    visible:true;
}*/

/* Hide all the properties into the Compartment of the stereotype OBOClass */
/*Compartment[stereotype="obodatamodel::OBOClass"]{
    visible:false;
}*/
/* Hide the property "definition" into the compartment */
/*Compartment[type=StereotypeCompartment]>[property="definition"]{
    visible:false;
}*/

/* Display the Comment shape */
 StereotypeComment {
    visible:true;
}

StereotypeComment Compartment{
    visible:true;
    collapsed: false;
    
}
StereotypeComment Compartment[type=StereotypeBrace]{
    visible:false;
}
/* Display the properties in Brace into the Comment*/





/* OBO Profile */

Class[appliedStereotypes~="oboClass"]{
    nameBackgroundColor: darkorange;
}



Package[appliedStereotypes~="OBONamespace"]{
    fillColor: blue;
}






/* BFO Profile */

Class[appliedStereotypes~="continuant"]{
    nameBackgroundColor: darkgreen;
    
}

Class[appliedStereotypes~="immaterialEntity"]{
    nameBackgroundColor: lightgreen;
    
}


Class[appliedStereotypes~="materialEntity"]{
    nameBackgroundColor: green;
    
}

Class[appliedStereotypes~="object"]{
    fillColor: green;
    
}

Class[appliedStereotypes~="occurent"]{
    fillColor: #e4a69e; /* red */
    
}

Class[appliedStereotypes~="process"]{
    fillColor: #e4a69e; /* red */
}


Class[appliedStereotypes~="realizableEntity"]{
    nameBackgroundColor: yellow;
    
}


Class[appliedStereotypes~="quality"]{
    nameBackgroundColor: lightblue;
    
}


/* RO Core profile */
